@import url(http://fonts.googleapis.com/css?family=Orbitron);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

h1 {
  background: #446f37;
  border: 1px solid #000;
  border-radius: 10px;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  float: left;
  overflow: hidden;
  padding: 13px 10px 10px 10px;
  position: relative;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  width: 95%;
}

h1:after {
  opacity: 0.3;
  content: '$';
  font-size: 2.8em;
  position: absolute;
  right: 5px;
  top: -10px;
}

input[type="text"], input[type="number"] {
  border: 1px solid #446f37;
  border-radius: 5px;
  font-size: 1em;
  height: 25px;
  line-height: 22px;
  padding: 0 5px;
}

instructions {
  clear: both;
}

instructions, leftbill, rightbill, billinput {
  display: block;
}

leftbill, rightbill {
  float: left;
  margin: 0 15px 10px 0;
}

leftbill {
  clear: left;
  width: 80px;
}

.short {
  width: 30px;
}

bill {
  clear: both;
  display: none;
  margin-bottom: 2px;
} 

bills {
  display: block;
}

billinput {
  background: #cddcbf;
  border-radius: 4px;
  float: left;
  margin: 10px 10px 0 0;
  padding: 5px;
  position: relative;
}

.clear {
  clear: both;
}

.plus {
  background: #446f37;
  border: 1px solid #000;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 1.4em;
  display: inline-block;
  line-height: 10px;
  margin: 0 0 0 3px;
  padding: 8px;
}

a.plus {
  border: 0;
  color: #fff;
  text-decoration: none;
}

.plus:after {
  content: '+';
}

subtotal, total {
  clear: both;
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
}

subtotal span {
  font-weight: 700;
}

total span {
  font-weight: 900;
}

